<nav>
    <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="logo">
        Fiddling with my Bootstrap...
    </div>
    <div class="menu">
        <ul>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
        </ul>
    </div>
</nav>
